a {
   color:black;
}

body, h1, h2, h3, h4, h5, h6 {
   color:black !important;
}

body {
   font-size: 9pt;
}

#doc2 {
   margin:0 auto;
   width: 777px;
}

#inner {
   margin:0;
   border:none;
   padding:10px;
   background-color:white;
}

.yui-gf, #hd {
   margin-bottom:1em;
   margin-top:1em;
   padding-bottom:0px;
   border-bottom-color:black;
}

.last {
   margin-bottom:0px;
   padding-bottom:10px;
}

.normal-list li {
   line-height: 1.4em;
}

.hide-print {
   display: none;
}

.show-print {
   display: block;
}

#hd h1 {
   /* font-size: 60px; */
   font-size:250%;
}


#ft {
   border-color:black;
}

.yui-gf .yui-u {
   width: 87.2%;
}

.smaller {
   font-size:80%;
}
